<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <display-name>myapp</display-name>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>CSP600.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/adminLogin</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LoginLecturerServlet</servlet-name>
        <servlet-class>CSP600.LoginLecturerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginLecturerServlet</servlet-name>
        <url-pattern>/lecturerLogin</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AddLecturerServlet</servlet-name>
        <servlet-class>CSP600.AddLecturerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddLecturerServlet</servlet-name>
        <url-pattern>/addLecturer</url-pattern>
    </servlet-mapping>
        <servlet>
        <servlet-name>UpdateLecturerServlet</servlet-name>
        <servlet-class>CSP600.UpdateLecturerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateLecturerServlet</servlet-name>
        <url-pattern>/updateLecturer</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DeleteLecturerServlet</servlet-name>
        <servlet-class>CSP600.DeleteLecturerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteLecturerServlet</servlet-name>
        <url-pattern>/deleteLecturer</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UpdateLecturer1</servlet-name>
        <servlet-class>CSP600.UpdateLecturer1</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateLecturer1</servlet-name>
        <url-pattern>/updateLecturer1</url-pattern>
    </servlet-mapping>
        <servlet>
        <servlet-name>adminLogoutServlet</servlet-name>
        <servlet-class>CSP600.adminLogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>adminLogoutServlet</servlet-name>
        <url-pattern>/adminLogoutServlet</url-pattern>
    </servlet-mapping>
            <servlet>
        <servlet-name>lecturerLogoutServlet</servlet-name>
        <servlet-class>CSP600.lecturerLogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>lecturerLogoutServlet</servlet-name>
        <url-pattern>/lecturerLogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AddPresentationServlet</servlet-name>
        <servlet-class>CSP600.AddPresentationServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddPresentationServlet</servlet-name>
        <url-pattern>/addPresentation</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>-1</session-timeout>
    </session-config>
</web-app>
